In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [3]:
import pandas as pd

# Load Movies Metadata
metadata = pd.read_csv('/content/sample_data/movies_metadata.csv', low_memory=False)

# Print the first three rows
metadata.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [4]:
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [5]:
tfidf = TfidfVectorizer(stop_words='english')
metadata['overview']= metadata['overview'].fillna('')
tfidf_matrix = tfidf.fit_transform(metadata['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(45466, 75827)

In [ ]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim.shape

In [9]:
#indices is an array of all titles as key and their index as value
#drop duplicate removes duplicate names if any

indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()
indices.shape
indices[0:10]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

In [6]:
print("hello")

def func(sim):
  return sim[1]

def get_reco(title, cosine_sim):

  #index of the title
  index= indices[title]

  #list of cosine similarity of the movie. enumerate is for storing index and value both in list as a tuple
  sim = list(enumerate(cosine_sim[index]))
  sim.shape

  sim = sorted(sim, key=func, reverse =True)  #sorting array based on cosine score

  sim = sim[1:11]  #has the index and cosine scores of the top 10 movies

  index_list = [k[0] for k in sim]

#iloc is to mention the index whose title we want
  return metadata['title'].iloc[index_list]

get_reco('Jumanji', cosine_sim)

hello

TypeError: ignored